body {
  background-color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: lightgray;
}
td {
  background-color: white;
}
.current {
  background-color: red;
}
.past {
  background-color: green;
}
